.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member :
          - @group.users.each do |user|
            %li.member
              = user.name

      .right-header
        = link_to edit_group_path(@group.id) do
          .right-header__button Edit
    .messages
      .message
        - @messages.each do |message|
          .upper-message
            .upper-message__user-name
              = message.user.name
            .upper-message__date
              = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
          .lower-message
            .lower-message__content
              = message.content
          = image_tag message.image_url if message.image?


    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, placeholder: "メッセージを入力してください", class: "form__message js-content textbox", id: "message_content"
        .form__mask
          %label.form__mask__image
            %i.fa.fa-picture-o.icon
            = f.file_field :image, class: "hidden js-file", id: "message_image"
        = f.submit :Send, class: "form__submit"
